<footer class="bg-dark text-center text-lg-start mt-5">
<div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Projet Alt-rh
    <img src="{{ asset('images/logo.png') }}" alt="" style="height:20px">
    {# <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a> #}
</div>
</footer>