<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center text-dark">
        <li class="page-item">
            <a class="page-link text-dark" href="{{ path('app_stage') }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li class="page-item"><a class="page-link text-dark" href="{{ path('app_stage') }}">1</a></li>
        <li class="page-item"><a class="page-link text-dark" href="{{ path('app_stage2') }}">2</a></li>
        <li class="page-item">
            <a class="page-link text-dark" href="{{ path('app_stage2') }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
    </ul>
</nav>